
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $heightHeader;
  padding: 0 .5rem;
}
.header {
  z-index: 23;
  background-color: rgb(141, 140, 140);
  &__logo{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__logo-picture{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 50%;
    overflow: hidden;
  }
  &__nav {
  }
  &__nav ul{
    display: flex;
    gap: 1rem;
  }
  &__nav ul a{
    font-size: 1.5rem;
  }
}





